@charset "utf-8";

:root {
	--line-color: rgba(255,255,255,.4);
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, table, dl, dd {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 16px;
}
a {
	text-decoration: none;
	color: #000;
}
ul, ol {
	list-style: none;
}
img {
	max-width: 100%;
	vertical-align: top;
	border: none;
}
body {
	font-family: "Roboto", "Noto Sans KR", sans-serif;
	font-size: 1vw;
	background-color: #191919;
	color: #fff;
}

.m-only {
	display: none;
}

@media screen and (max-width: 767px) {
	.m_only {
		display: block;
	}
	.d-only {
		display: none;
	}
}

/* top */
.top {
	display: flex;
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
}
.top .logo {
	position: absolute;
	left: 4em;
	top: 2.5em;
	z-index: 1000;
	opacity: 0;
}
.top .logo span {
	text-transform: uppercase;
	font-size: 1.25em;
	font-weight: 700;
	color: #fff;
}
.top nav {
	position: absolute;
	right: 4em;
	top: 2.5em;
	opacity: 0;
}
.top nav ul {
	display: flex;
	gap: 3.125em;
}
.top nav ul li a {
	display: block;
	line-height: 1.5;
	font-size: 1.1em;
	font-weight: 300;
	color: #fff;
}
.top .tab {
	display: none;
	position: absolute;
	right: 4em;
	top: 7em;
	z-index: 10000;
}
.top .tab i {
	font-size: 3em;
	color: #fff;
}
.top .total-menu {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;
	background-color: rgba(0,0,0,.9);
}
.top .total-menu .inner {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
.top .total-menu .inner ul {
	display: flex;
	gap: 5em;
}
.top .total-menu .inner ul li a {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.25em;
	color: #fff;
}

@media only screen and (max-width: 1023px) {
	.top .logo {
		top: 3em;
	}
	.top .logo span {
		font-size: 2em;
	}
	.top nav ul li a {
		font-size: 1.5em;
	}
}
@media only screen and (max-width: 767px) {
	.top .logo {
		top: 8em;
	}
	.top .logo span {
		font-size: 3em;
	}
	.top nav {
		display: none;
	}
	.top .tab {
		display: block;
	}
	.top .tab i {
		font-size: 4em;
	}
	.top .total-menu .inner ul {
		flex-direction: column;
		align-items: center;
	}
	.top .total-menu .inner ul li a {
		font-size: 3em;
	}
}
@media only screen and (max-width: 540px) {
	.top .logo span {
		font-size: 4em;
	}
	.top .tab {
		top: 6em;
	}
	.top .tab i {
		font-size: 5em;
	}
	.top .total-menu .inner ul li a {
		font-size: 4em;
	}
}

/* main */
.main-title {
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.main-title .content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	position: relative;
	z-index: 2;
	width: calc(100% - 8em);
	height: 100%;
}
.main-title .content .group-text {
	line-height: 0.9;
	text-align: right;
	font-size: 5em;
	font-weight: 700;
	letter-spacing: -0.02em;
	color: #fff;
}
.main-title .content .group-text .word {
	display: inline-block;
	padding-right: 0.15em;
	padding-bottom: 0.35em;
	overflow: hidden;
}
.main-title .content .group-text .normal {
	letter-spacing: -0.12em;
}
.main-title .content .group-text .serif {
	display: block;
	font-family: "Bodoni Moda", serif;
	font-size: 1.1em;
	font-weight: 400;
	font-style: italic;
	letter-spacing: -0.1em;
}
.main-title .content .group-text .word .char {
	display: inline-block;
	opacity: 0;
}
.main-title .content .description {
	padding-top: 4vh;
}
.main-title .content .description span {
	display: block;
	line-height: 2;
	text-align: right;
	font-size: 1.1em;
	font-weight: 300;
	opacity: 0;
}
.main-title .author {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.7em;
	position: absolute;
	bottom: 2.5em;
	z-index: 10;
	width: 100%;
	height: 3em;
	color: #fff;
	opacity: 0;
}
.main-title .author span {
	line-height: 1.7;
	font-size: 1.1em;
	font-weight: 300;
	letter-spacing: 0.02em;
}
.main-title .bg {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #151619;
}
.main-title .bg .bg-inner {
	width: 100%;
	height: 100%;
	opacity: 0.3;
}
.main-title .bg .bg-inner video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* filter: grayscale(100%); */
}

@media only screen and (max-width: 1023px) {
	.main-title .content .group-text {
		font-size: 8em;
	}
	.main-title .content .description {
		font-size: 1.5em;
	}
	.main-title .author span {
		font-size: 1.5em;
	}
}
@media only screen and (max-width: 767px) {
	.main-title .content .group-text {
		font-size: 11em;
	}
	.main-title .content .group-text .word.serif {
		display: block;
	}
	.main-title .content .description {
		font-size: 2.5em;
	}
	.main-title .author {
		bottom: 6em;
	}
	.main-title .author span {
		font-size: 2.5em;
	}
}
@media only screen and (max-width: 540px) {
	.main-title .content .description {
		font-size: 3.5em;
	}
	.main-title .author span {
		font-size: 3.5em;
	}
}

/* cursor */
.cursor-wrap {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10000;
	opacity: 0;
	pointer-events: none;
}
.cursor-wrap .cursor-inner {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2.5em;
	height: 2.5em;
}
.cursor-wrap .cursor-inner .cursor {
	position: relative;
	z-index: 1;
	width: 1em;
	height: 1em;
	background-color: rgba(0,153,255,.75);
	border-radius: 3em;
}
.cursor-wrap .cursor-inner i {
	position: absolute;
	width: 2.5em;
	height: 2.5em;
	background-color: rgba(255,255,255,.1);
	opacity: 0;
	border-radius: 3em;
	backdrop-filter: blur(5px);
}
.cursor-wrap .view-more {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 70%;
	top: 70%;
	width: 5em;
	height: 2em;
	opacity: 0;
	border-radius: 1.5em;
}
.cursor-wrap .view-more span {
	line-height: 1.5em;
	font-size: 0.8em;
	font-weight: 400;
	letter-spacing: 0.02em;
}

@media only screen and (max-width: 767px) {
	.cursor-wrap {
		display: none;
	}
}

/* about */
#about {
	padding: 16.25em 12.5em;
}
#about .main-text span {
	display: block;
	line-height: 1.65;
	font-size: 1.75em;
	font-weight: 300;
}
#about .sub-text {
	padding-top: 4em;
}
#about .sub-text p {
	line-height: 2;
	font-size: 1.1em;
	font-weight: 700;
}
#about .sub-text li {
	position: relative;
	padding-left: 0.75em;
	line-height: 2;
	font-size: 1.1em;
	font-weight: 300;
}
#about .sub-text li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	width: 0.25em;
	height: 0.25em;
	background-color: #fff;
	border-radius: 50%;
	transform: translateY(-50%);
}

@media only screen and (max-width: 1023px) {
	#about .main-text span {
		font-size: 3em;
	}
	#about .sub-text p,
	#about .sub-text li {
		font-size: 1.5em;
	}
}
@media only screen and (max-width: 767px) {
	#about {
		padding: 18em 4em;
	}
	#about .main-text span {
		font-size: 3.5em;
	}
	#about .sub-text p,
	#about .sub-text li {
		font-size: 2.5em;
	}
}
@media only screen and (max-width: 540px) {
	#about .main-text span {
		display: inline;
		font-size: 5em;
	}
	#about .sub-text p,
	#about .sub-text li {
		font-size: 3.5em;
	}
}

/* skills */
#skills {
	padding: 10em 12.5em;
}
#skills .title h3 {
	line-height: 2;
	font-size: 3em;
	font-weight: 400;
}
#skills .content > ul > li {
	display: flex;
	padding: 5em 0;
	border-top: 1px solid var(--line-color);
}
#skills .content .label {
	padding: 0 1em 0 2em;
	width: 15%;
	font-size: 1.25em;
	box-sizing: border-box;
}
#skills .content .subject {
	width: 85%;
}
#skills .content .subject strong {
	font-size: 1.75em;
	font-weight: 700;
}
#skills .content .subject p {
	padding-top: 1.5em;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 1.1em;
	font-weight: 700;
}
#skills .content .subject ul {
	padding-top: 2em;
}
#skills .content .subject ul li {
	overflow: hidden;
	line-height: 2;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 1.1em;
	font-weight: 300;
}

@media only screen and (max-width: 1023px) {
	#skills .title h3 {
		font-size: 4em;
	}
	#skills .content .label {
		font-size: 2em;
	}
	#skills .content .subject strong {
		font-size: 3em;
	}
	#skills .content .subject p,
	#skills .content .subject ul li {
		font-size: 1.5em;
	}
}
@media only screen and (max-width: 767px) {
	#skills {
		padding: 10em 4em;
	}
	#skills .title h3 {
		font-size: 4.5em;
	}
	#skills .content .label {
		font-size: 3em;
	}
	#skills .content .subject strong {
		font-size: 3.5em;
	}
	#skills .content .subject p,
	#skills .content .subject ul li {
		font-size: 2.5em;
	}
}
@media only screen and (max-width: 540px) {
	#skills .title h3 {
		font-size: 5em;
	}
	#skills .content .label {
		display: none;
	}
	#skills .content .subject {
		width: 100%;
	}
	#skills .content .subject strong {
		font-size: 4em;
	}
	#skills .content .subject p,
	#skills .content .subject ul li {
		font-size: 3.5em;
	}
}

/* comment */
.comment {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30vh;
	text-align: center;
}
.comment .aosup {
	line-height: 2;
	font-size: 1.75em;
	font-weight: 300;
}

@media only screen and (max-width: 1023px) {
	.comment .aosup {
		font-size: 3em;
	}
}
@media only screen and (max-width: 767px) {
	.comment {
		height: 55vh;
	}
	.comment .aosup {
		font-size: 3.5em;
	}
}
@media only screen and (max-width: 540px) {
	.comment .aosup {
		font-size: 4em;
	}
}

/* portfolio */
#portfolio {
	position: relative;
	height: 100vh;
}
#portfolio .swiper-wrap {
	position: relative;
	top: 50%;
	left: 50%;
	width: 90%;
	max-width: 1520px;
	transform: translate(-50%,-50%);
}
#portfolio .swiper .swiper-slide {
	background-color: #000;
}
#portfolio .swiper .swiper-slide .swiper-bg {
	width: 100%;
	height: 100%;
}
#portfolio .swiper .swiper-slide .swiper-text {
	padding: 4em 8.5em 5.5em;
	line-height: 1.2;
	height: 100%;
	color: #fff;
	box-sizing: border-box;
}
#portfolio .swiper .swiper-slide .swiper-text .cate {
	width: 20rem;
	font-weight: 500;
}
#portfolio .swiper .swiper-slide .swiper-text .cate span {
	display: block;
	font-size: 1.1em;
}
#portfolio .swiper .swiper-slide .swiper-text .cate span.date {
	margin-top: 1.25em;
	font-size: 1.1em;
	font-weight: 400;
}
#portfolio .swiper .swiper-slide .swiper-text .tit {
	margin-top: 0.625em;
	line-height: 1.5;
	font-size: 1.75em;
	font-weight: 500;
}
#portfolio .swiper .swiper-slide .swiper-text .txt {
	margin-top: 1.25em;
	width: 500px;
	line-height: 1.5;
	font-size: 1.1em;
	font-weight: 300;
}
#portfolio .swiper .swiper-slide .swiper-text .tit,
#portfolio .swiper .swiper-slide .swiper-text .txt {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	white-space: normal;
	word-break: keep-all;
}
#portfolio .swiper .swiper-slide .swiper-text a {
	display: block;
	position: relative;
	margin-top: 1.875em;
	padding: 0.75em;
	width: 8em;
	line-height: 1.15;
	text-decoration: none;
	font-size: 1.1em;
	color: #fff;
	border: 1px solid #fff;
}
#portfolio .swiper .swiper-slide .swiper-text a::after {
	content: "";
	position: absolute;
	right: 16px;
	top: 50%;
	width: 2em;
	height: 1px;
	background-color: #fff;
	transform: translateY(-50%);
}
#portfolio .swiper .swiper-pagination {
	left: -37px;
	bottom: 19px;
	line-height: 1.15;
	text-align: right;
	font-size: 1.1em;
	font-weight: 300;
	color: #fff;
}
#portfolio .swiper .swiper-button-next {
	right: 37px;
}
#portfolio .swiper .swiper-button-prev {
	left: 37px;
}
#portfolio .swiper .swiper-button-next::after,
#portfolio .swiper .swiper-button-prev::after {
	color: #fff;
}

@media all and (max-width: 1540px) {
	#portfolio .swiper-wrap {
		width: 80%;
		max-width: initial;
	}
}
@media screen and (max-width: 1280px) {
	#portfolio .swiper-wrap {
		width: 90%;
	}
}
@media only screen and (max-width: 1023px) {
	#portfolio .swiper .swiper-slide .swiper-text .cate span {
		font-size: 1.5em;
	}
	#portfolio .swiper .swiper-slide .swiper-text .cate .date {
		font-size: 1.5em;
	}
	#portfolio .swiper .swiper-slide .swiper-text .tit {
		font-size: 3em;
	}
	#portfolio .swiper .swiper-slide .swiper-text .txt {
		font-size: 1.5em;
	}
	#portfolio .swiper .swiper-slide .swiper-text a {
		font-size: 1.5em;
	}
	#portfolio .swiper .swiper-pagination {
		font-size: 1.5em;
	}
}
@media screen and (max-width: 767px) {
	#portfolio {
		padding-bottom: 15vh;
		height: auto;
	}
	#portfolio .swiper-wrap {
		top: 0;
		left: 0;
		max-width: 100%;
		width: 100%;
		transform: none;
	}
	#portfolio .swiper {
		padding: 0 24px;
	}
	#portfolio .swiper .swiper-slide {
		width: 100%;
	}
	#portfolio .swiper .swiper-slide .swiper-text .cate span {
		display: block;
		font-size: 2.5em;
	}
	#portfolio .swiper .swiper-slide .swiper-text .cate span.date {
		font-size: 2.5em;
	}
	#portfolio .swiper .swiper-slide .swiper-text .tit,
	#portfolio .swiper .swiper-slide .swiper-text .txt {
		width: auto;
	}
	#portfolio .swiper .swiper-slide .swiper-text .txt {
		font-size: 2.5em;
	}
	#portfolio .swiper .swiper-slide .swiper-text a {
		font-size: 2.5em;
	}
}
@media only screen and (max-width: 540px) {
	#portfolio .swiper .swiper-slide .swiper-text .cate span {
		font-size: 3.5em;
	}
	#portfolio .swiper .swiper-slide .swiper-text .cate span.date {
		font-size: 3.5em;
	}
	#portfolio .swiper .swiper-slide .swiper-text .tit {
		font-size: 4em;
	}
	#portfolio .swiper .swiper-slide .swiper-text .txt {
		font-size: 3.5em;
	}
	#portfolio .swiper .swiper-slide .swiper-text a {
		font-size: 3.5em;
	}
}

/* open source */
#open-source {
	padding: 10em 0;
	overflow: hidden;
}
#open-source .title {
	padding: 0 12.5em 2.5em;
}
#open-source .title h3 {
	line-height: 2;
	font-size: 3em;
	font-weight: 400;
}
#open-source .swiper-container .swiper-wrapper {
	height: auto;
}
#open-source .swiper-container .thumb {
	position: relative;
	width: 100%;
	height: 17.5em;
	overflow: hidden;
	opacity: 0.15;
	transition: opacity 0.3s;
}
#open-source .swiper-container .swiper-slide-active .thumb {
	opacity: 0.75;
}
#open-source .swiper-container .thumb img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#open-source .swiper-container .desc {
	padding: 30px 0;
	opacity: 0.5;
	transition: opacity 0.3s;
}
#open-source .swiper-container .swiper-slide-active .desc {
	opacity: 1;
}
#open-source .swiper-container .desc .name {
	line-height: 1.25;
	font-size: 1.25em;
	font-weight: 500;
}
#open-source .swiper-container .desc p {
	margin-top: 1em;
	line-height: 1.75;
	font-size: 1.1em;
	font-weight: 300;
}
#open-source .swiper-container .desc .mouse-event {
	display: inline-block;
	position: relative;
	z-index: 10;
	margin-top: 30px;
	padding: 0.875em 2.5em;
	font-size: 1.1em;
	color: #fff;
	border: 1px solid rgba(255,255,255,.25);
}

@media only screen and (max-width: 1023px) {
	#open-source .title h3 {
		font-size: 4em;
	}
	#open-source .swiper-container .desc .name {
		font-size: 2em;
	}
	#open-source .swiper-container .desc p {
		font-size: 1.5em;
	}
	#open-source .swiper-container .desc .mouse-event {
		font-size: 1.5em;
	}
}
@media only screen and (max-width: 767px) {
	#open-source {
		padding: 10em 0;
	}
	#open-source .title {
		padding: 0 4em 2.5em;
	}
	#open-source .title h3 {
		font-size: 4.5em;
	}
	#open-source .swiper-container .desc .name {
		font-size: 3em;
	}
	#open-source .swiper-container .desc p {
		font-size: 2.5em;
	}
	#open-source .swiper-container .desc .mouse-event {
		font-size: 2.5em;
	}
}
@media only screen and (max-width: 540px) {
	#open-source .title h3 {
		font-size: 5em;
	}
	#open-source .swiper-container .desc .name {
		font-size: 4em;
	}
	#open-source .swiper-container .desc p {
		font-size: 3.5em;
	}
	#open-source .swiper-container .desc .mouse-event {
		font-size: 3.5em;
	}
}

/* footer */
.footer {
	padding: 16.25em 4em;
}
.footer .ft-wrap .ft-logo a {
	display: block;
	white-space: nowrap;
	font-size: 1.75em;
	color: #fff;
	opacity: 0.2;
}
.footer .ft-wrap .ft-info {
	margin-top: 2.5em;
	font-size: 1.1em;
}
.footer .ft-wrap .ft-info span+span {
	position: relative;
	margin-left: 2.25em;
}
.footer .ft-wrap .ft-info span+span::before {
	content: "";
	position: absolute;
	left: -1.25em;
	top: 50%;
	width: 1px;
	height: 10px;
	background-color: #ddd;
	transform: translateY(-50%);
}
.footer .ft-wrap .ft-info strong {
	margin-right: 10px;
	opacity: 0.4;
}
.footer .ft-wrap .ft-info p {
	line-height: 2;
}
.footer .ft-wrap .ft-info p.copyright {
	margin-top: 2em;
}
.footer .ft-wrap .ft-info p a {
	color: #fff;
}

@media only screen and (max-width: 1023px) {
	.footer .ft-wrap .ft-logo a {
		font-size: 3em;
	}
	.footer .ft-wrap .ft-info {
		font-size: 1.5em;
	}
}
@media only screen and (max-width: 767px) {
	.footer {
		padding: 18em 4em;
	}
	.footer .ft-wrap .ft-logo a {
		font-size: 3.5em;
	}
	.footer .ft-wrap .ft-info {
		font-size: 2.5em;
	}
	.footer .ft-wrap .ft-info p span {
		display: block;
	}
	.footer .ft-wrap .ft-info span+span {
		margin-left: 0;
		margin-top: 5px;
	}
	.footer .ft-wrap .ft-info span+span::before {
		display: none;
	}
}
@media only screen and (max-width: 540px) {
	.footer .ft-wrap .ft-logo a {
		font-size: 4em;
	}
	.footer .ft-wrap .ft-info {
		font-size: 3.5em;
	}
}